<div *ngIf="useSearchBar" >
    <ion-searchbar animated (ionInput)="filtrar($event.target.value)" mode="ios" placeholder="Buscar"></ion-searchbar>
</div>
<ion-list>
    <ion-list-header *ngIf="header" >
        <ion-label>{{header}}</ion-label>
    </ion-list-header>
    <ion-row>
        <ion-col *ngFor="let elemento of lista" size="12" size-md="6">
            <ion-item-sliding>
                <ion-item (click)="elementClick(elemento)">
                    <ion-icon name="{{icon}}" slot="start"></ion-icon>
                    <ion-label>
                        <h2>{{elemento.nome}}</h2>
                        <p *ngIf="elemento.email" >{{elemento.email}}</p>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option expandable color="secondary" (click)="editar(elemento)">
                        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
                    </ion-item-option>
                    <ion-item-option (click)="remover(elemento)" expandable color="danger">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-col>
    </ion-row>
</ion-list>