<ion-header>
    <dl-toolbar titulo="Nova Avaliação"></dl-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <div *ngFor="let cliente of listaCliente">
            <ion-item-divider>{{cliente.nome}}</ion-item-divider>

            <ion-item *ngFor="let posto of cliente.postos" (click)="go(posto.id)" lines="none">
                <ion-icon name="business" slot="start"></ion-icon>
                <ion-label><h3>{{posto.nome}}</h3></ion-label>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
<copyright-footer></copyright-footer>
