<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <dl-toolbar titulo="Consulimp" hideMenu=true hideLogo=true></dl-toolbar>
            </ion-header>

            <ion-content>
                <ion-list lines="none">
                    <div *ngFor="let pagina of paginas">
                        <ion-item-divider *ngIf="verify(pagina.categoria)">
                            <ion-label>{{categoria}}</ion-label>
                        </ion-item-divider>
                        <ion-item (click)="browseTo(pagina.link)">
                            <ion-icon [name]="pagina.icon" color="primary"></ion-icon>
                            <ion-label color="primary" style="margin-left:10px">{{pagina.label}}</ion-label>
                        </ion-item>
                    </div><br>
                    <ion-item-divider>Consulimp Audit - {{versao}}</ion-item-divider>
                </ion-list>
            </ion-content>

        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>