<ion-header>
    <dl-toolbar titulo="Engenharia de Limpeza" back="true" hideMenu="true"></dl-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card (click)="randGrades()">
        <ion-card-header>
            <ion-card-subtitle><b>{{nomePosto}}</b></ion-card-subtitle>
            <p>{{data | date: 'dd/MM/yyyy'}} - {{contato}}</p>
            <p *ngIf="media">Média: {{media | number: '1.1-2'}}</p>
        </ion-card-header>
    </ion-card>

    <ion-list>
        <div *ngFor="let element of elementList; let i = index">
            <ion-item>
                <ion-label>
                    <h3>{{i + 1 | number: '2.0-0'}}. {{element.nome}}{{element.nota ? ': '+element.nota : ''}}</h3>
                    <ion-range min=0 max=4 snaps=true pin=true [(ngModel)]="element.nota"></ion-range>
                </ion-label>
                <ion-icon name="arrow-dropright" slot="end" (click)="openForm(element)"></ion-icon>
            </ion-item>
        </div>
    </ion-list>

    <ion-button expand="full" color="primary" (click)="salvar()">Salvar Avaliação ({{elementList.length}})</ion-button>

    <copyright-footer></copyright-footer>
</ion-content>
